/* CSS Document */
body {
	font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neueu", Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	font-size: 14px;
	line-height: 1.428571429;
	color: #222;
	min-width: 1200px;
	max-width: 2000px;
	min-height:600px;
	background: transparent;
}
a {
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
.navbar {
	height: 70px;
	background: rgba(39,69,112,1);
	width: 100%;
	z-index: -1;
}
.nav {
	width: 1100px;
	margin: auto;
	height: 70px;
	z-index: 1;
}
.nav-brand {
	float: left;
}
#nav-ui {
	float: left;
}
#nav-ui ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	float: left;
	line-height: 70px;
}
#nav-ui a{
	line-height: 67px;
	display: block;
	color: rgba(255,255,255,1);
	padding: 0 5px 0 5px;
	text-decoration: none;
	/*border-bottom: 3px solid transparent;*/
	position: relative;
	margin: 0 10px 0 10px;
}
#nav-ui a:hover {
	border-bottom: 3px solid rgb(255, 153, 0);
}

.nav-color{
	border-bottom: 3px solid rgb(255, 153, 0);
}
.container {
	width: 100%;
	margin: 20px 0 20px 0;
	background-color: transparent;
}
.content {
	width: 1100px;
	margin: 0 auto 0 auto;
	padding: 0 auto 0 auto;
}
.footer {
	height: 70px;
	background-color: rgba(39,69,112,1);
	width: 100%;
}
.foot {
	margin: auto;
	height: 70px;
	width: 1100px;
	color: rgba(255,255,255,1);
	/*background-color:rgba(0,0,0,1);*/
	text-align: center;
	z-index: 1;
}
.foot p {
	margin: 0;
	padding: 0;
	padding-top: 10px;
}
#watermark {
	background: transparent url(../img/BioCircos.png) no-repeat scroll -260px -630px;
	min-height: 600px;
	width: 1100px;
	opacity: 0.05;
	position: absolute;
	z-index: -1;
	right: 0;
	float: right;
	display: block;
}
