/* CSS Document */
body {
	font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neueu", Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	font-size: 14px;
	line-height: 1.428571429;
	color: #222;
	min-width: 1200px;
	max-width: 2000px;
	min-height: 500px;
	background: transparent;
}
.navbar {
	height: 70px;
	background: rgba(39,69,112,1);
	width: 100%;
	z-index: -1;
}
.navi {
	width: 1080px;
	margin: auto;
	height: 70px;
	z-index: 1;
}
.nav-brand {
	float: left;
}
#nav-ui {
	float: left;
}
#nav-ui ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	float: left;
	line-height: 70px;
}
#nav-ui a {
	line-height: 67px;
	display: block;
	color: rgba(255,255,255,1);
	padding: 0 10px 0 10px;
	text-decoration: none;
	/*border-bottom: 3px solid transparent;*/
	position: relative;
	margin: 0 10px 0 10px;
}
#nav-ui a:hover {
	border-bottom: 3px solid rgb(255, 153, 0);
}
.nav-color {
	border-bottom: 3px solid rgb(255, 153, 0);
}
.container {
	width: 100%;
	margin: 20px 0 20px 0;
	background-color: transparent;
}
.content {
	width: 1050px;
	margin: 0 auto 0 auto;
	padding: 0 auto 0 auto;
	font-size: 12px;
}
.content-search-left {
	width: 730px;
	float: left;
}
.content-search-form {
	border: 1px solid rgba(39,69,112,0.3);
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: rgba(255,255,255,0.8);
	margin-bottom: 20px;
	padding: 20px;
}
.content-search-form h3 {
	color: rgba(39,69,112,1);
	font-size: 24px;
	font-weight: normal;
	margin: 2px 0 22px;
}
/*.content-search-form img {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid rgba(39,69,112,0.3);
	float: left;
	margin: 0 10px 0 25px;
	padding: 4px;
}*/
.content-search-form form {
	position: relative;
}
.content-search-form form div.formelements {
	float: left;
	width: 53%;
	position: relative;
}
.content-search-form form div.formelements input {
	width: 90%;
	margin-bottom: 20px;
	font-family: inherit;
	font: 13px/1 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
.content-search-form form .formtext {
	display: block;
	float: left;
	position: relative;
	width: 46%;
}
.content-search-form form label {
	position: relative;
	display: block;
	margin: 0 0 30px 0;
	text-align: center;
	vertical-align:text-top;
}
.content-search-form label span, .content-search-form label input, .content-search-form label select {
	display: inline-block;
}
.content-search-form input, .content-search-form select {
	width: 55%;
	padding: 5px;
	margin-right: 30px;
	border: 1px solid rgba(39,69,112,0.3);
}
.content-search-form input {
	width: 53%;
}
.content-search-form .label_text {
	display: inline-block;
	width: 150px;
	text-align: right;
	margin-right: 3px;
}
.content-search-form form input.button {
	width:90px;
	height: 30px;
	background: rgba(255,255,255,1);
	text-align: center;
	vertical-align: middle;
	border: 1px solid rgba(39,69,112,0.3);
	border-radius: 5px;
	cursor: pointer;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
	/*padding:0 10px;*/
	font-size:13px;
	position: relative;
	left: 218px;
}
.content-search-form form input.button:hover {
	background: rgba(255,153,0,1);
	color: rgba(255,255,255,1);
}
/*.content-search-form p {
	display: block;
	position: relative;
	margin-left: 15%;
	margin-right: 13%;
	padding-bottom: 15px;
}*/
.content-search-right {
	width: 300px;
	float: left;
	margin-left: 20px;
}
.content-search-sidebox {
	border: 1px solid rgba(39,69,112,0.3);
	border-radius: 5px;
	-moz-border-radius: 5px;
	height: 420px;
	background: rgba(255,255,255,0.8);
	padding: 15px;
	margin-bottom: 20px;
}
.content-browser-left {
	width: 240px;
	float: left;
}
.content-browser-right {
	width: 790px;
	float: left;
	margin-left: 20px;
}
.footer {
	height: 70px;
	background-color: rgba(39,69,112,1);
	width: 100%;
	z-index: -1;
}
.foot {
	margin: auto;
	height: 70px;
	width: 1050px;
	color: rgba(255,255,255,1);
	/*background-color:rgba(0,0,0,1);*/
	text-align: center;
	z-index: 1;
}
.foot p {
	margin: 0;
	padding: 0;
	padding-top: 10px;
}
.foot a {
	color: rgba(255,255,255,1);
	text-decoration: underline
}
#watermark {
	background: transparent url(../img/BioCircos.png) no-repeat scroll -260px -730px;
	min-height: 500px;
	width: 1100px;
	opacity: 0.05;
	position: absolute;
	z-index: -1;
	right: 0;
	float: right;
	display: block;
}
.content-contribute-right{
	border: 1px solid rgba(39,69,112,0.3);
	padding: 20px;
}
.text_bg {
	padding: 12px;
	background:rgba(153,153,153,0.1);	
}
.text_bg p{
	margin:0;
	padding:0;	
}