<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{$title}</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-table.css">
<link rel="stylesheet" href="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
<link rel="stylesheet" href="css/stylesheet.css" />
<link rel="stylesheet" href="css/nav.css" />
<style>
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend  td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}
</style>
<script src="lib/jquery-1.12.1.min.js"></script>
<script src="lib/cancerT.js"></script>
<script src="lib/backbone.js" type="text/javascript"></script>
<script src="lib/ga.js" type="text/javascript"></script>
<script src="lib/nav.js" type="text/javascript"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/bootstrap-table.js"></script>
<script src="lib/bootstrap-table-export.js"></script>
<script src="http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
</head>

<body>
<div id="watermark"></div>
<div>
  <div class="navbar">
    <div class="navi">
      <div class="nav-brand"><a href="#/"><img class="logo-brand" src="img/cancerT.png"></a></div>
      <div id="nav-ui">
        <ul>
          <li><a href="index.php">Home</a></li>
          <li><a href="contribute.php">Contribute</a></li>
          <li><a href="cancer_browser.php">Cancer Browser</a></li>
          <li><a href="gene_browser.php">Gene Browser</a></li>
          <li><a href="search.php">Search Tool</a></li>
          <li><a href="data.php">Data Access</a></li>
          <li><a href="help.php">Help</a></li>
          <li><a href="news.php">News</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div id="content-navigation" class="content-browser-left">
        <div class="expandable-navigation-container">
          <ul class="expandable-navigation" id="">
          {foreach $tissue_cancers as $key => $item}
          	<li class="menu_li"> <span class="fake-anchor expandable"> {$key} </span>
            	<ul class="submenu closed">
            		{foreach $item as $tumor=>$val}           	
                		<li class="submenu_li"> <a class="subitem" href="cancer_browser.php?tissue={$key}&cancer={$tumor}"> {$tumor} </a> </li>
            		{/foreach}
            	</ul>
            </li>
          {/foreach}
          <ul style="clear:both;"></ul>
          </ul>

        </div>
        <div class="expandable-navigation-container">
          <ul class="expandable-navigation" id="">
            <li class="menu_li"> <span class="fake-anchor expandable">Other Diseases</span>
              <ul class="submenu closed">
                <li class="submenu_li"> <a class="subitem" href="#">Acute Myeloid Leukemia</a> </li>
                <li class="submenu_li"> <a class="subitem" href="#">Anaplastic Large Cell Lymphoma</a> </li>
              </ul>
            </li>
            <li class="menu_li"> <span class="fake-anchor expandable">Other Diseases</span>
              <ul class="submenu closed">
                <li class="submenu_li"> <a class="subitem" href="#">Acute Myeloid Leukemia</a> </li>
                <li class="submenu_li"> <a class="subitem" href="#">Anaplastic Large Cell Lymphoma</a> </li>
              </ul>
            </li>
            <ul style="clear:both;"></ul>
          </ul>
        </div>
      </div>
      <div class="content-browser-right">
      <h4>Statistics:</h4>
      <div id='dashboard' style=" text-align:center;"></div>
	  <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="lib/dashboard.js"></script>
      <p>​​&#8203;​​&#8203;</p>
      <h4>Cancer summary:</h4>
      <table data-toggle="table" data-height='getHeight()'>
          <thead>
              <tr>
                  <th data-sortable='true'>Tissue</th>
                  <th data-sortable='true' data-formatter=operateFormatter>Cancer Type</th>
                  <th>UMIS ID</th>
                  <th>NCI ID</th>
                  <th data-sortable='true'>Level (<a href="help.php?oncotree">?</a>)</th>
              </tr>
          </thead>
          <tbody>
          {foreach $tcg as $tcgk=>$tcgv}
              <tr>
                <td id="tissue">{$tcgv.tissue}</td>
                <td>{$tcgv.cancer}</td>
                <td><a href="https://ncim.nci.nih.gov/ncimbrowser/ConceptReport.jsp?code={$tcgv.umis}" target="_blank">{$tcgv.umis}</a></td>
                <td><a href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI_Thesaurus&code={$tcgv.nci}" target="_blank">{$tcgv.nci}</a></td>
                <td>{$tcgv.level}</td>
              </tr>
          {/foreach}
          </tbody>
      </table>
      <p>​​&#8203;​​&#8203;</p>
      
      </div>
      </div>
    </div>
    <script type="text/javascript">
	
    function operateFormatter(value, row, index) {
        var e = '<a href="cancer_browser.php?tissue='+ $('#tissue').text() + '&cancer=' + value + '">' + value + '</a>';
        return e;
    }
    </script>
    <div style="clear:both"></div>
  </div>
  <div class="footer">
    <div class="foot">
      <p>Copyright © 2017 <a href="http://synergylab.info">SynergyLab</a> | All Rights Reserved</p>
      <p style="font-size:12px;">CancerT is intended for research purposes only. Its information cannot be copied or redistributed. Please review the <a href="terms.php">usage terms</a> before continuing.</p>
    </div>
  </div>
</div>
</body>
</html>